<html>
<head>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/common.css') }}">
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
</head>

<body>
    {% block body %}{% endblock %}
</body>
</html>