{% extends "@App/layout.html.twig" %}
{% block body %}
<div class="container-fluid main2">
    <div class="contacts-box">
        {{ include('AppBundle::menu.html.twig') }}
        <div class="contacts-body">
            <img src="{{ asset('bundles/app/images/img_3.png')}}" id="globus">
            <br />
            <br />
            <br />
            <div class="text-black">
                MANAGER
                <br />
                <img class="black-line" src="{{ asset('bundles/app/images/black_line.png') }}"><br />
                SKYPE: JENIKAKOLOMEEC<br />
                PHONE: +7 (916) 105-15-20<br />
                EMAIL: BHD.M@YA.RU<br />
            </div>
            <br />
            <div class="text-black">
                DEVELOPER
                <br />
                <img class="black-line" src="{{ asset('bundles/app/images/black_line.png') }}"><br />
                SKYPE: JENIKAKOLOMEEC<br />
                PHONE: +7 (916) 105-15-20<br />
                EMAIL: BHD.M@YA.RU<br />
            </div>
        </div>
    </div>
</div>
{% endblock %}