{% extends "@App/layout.html.twig" %}
{% block body %}
    <div class="container-fluid main">
        <div class="main-box">
            <div class="main-logo">
                <img src="{{ asset('bundles/app/images/logo.png') }}" id="logo">
            </div>
            {{ include('AppBundle::menu.html.twig') }}
        </div>
    </div>
{% endblock %}