{#{% extends "@App/layout.html.twig" %}#}
{#{% block body %}#}
<div class="container-fluid main2">
    <div class="contacts-box">
        {{ include('AppBundle::menu.html.twig') }}

        <div class="order-box">
            <img src="{{ asset('bundles/app/images/input-line.png') }}" class="input-line">
            <input type="text" class="form-control" placeholder="Введите имя">
            <br />
            <img src="{{ asset('bundles/app/images/input-line.png') }}" class="input-line">
            <input type="text" class="form-control" placeholder="Введите имя">
            <br />
            <img src="{{ asset('bundles/app/images/input-line.png') }}" class="input-line" style="margin-top: 194px;">
            <textarea placeholder="Краткое описание " class="form-control"></textarea>
            <br />
            <button class="btn btn-lg btn-green">Отправить</button>
        </div>
    </div>
</div>
{#{% endblock %}#}
