{#{% extends "@App/layout.html.twig" %}#}
{#{% block body %}#}
    <div class="container-fluid main2">
        <div class="contacts-box">
            {{ include('AppBundle::menu.html.twig') }}
            <div class="portfolio-body">
                <img src="{{ asset('bundles/app/images/test-min.png') }}">
            </div>
        </div>
    </div>
{#{% endblock %}#}