{#{% extends "@App/layout.html.twig" %}#}
{#{% block body %}#}
    <div class="container-fluid main2">
        <div class="contacts-box">
            {{ include('AppBundle::menu.html.twig') }}
            <div class="about-body">
                <div class="about-text">
                    СТраница в разработке<br />
                </div>
                <div class="about-image">
                    <img src="{{ asset('bundles/app/images/img_5.png') }}" id="share-btn">
                </div>
            </div>
        </div>
    </div>
{#{% endblock %}#}